body{
	/*background-color: #eee;*/
	font-family: arial;
	font-size: 14px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

input,textarea,select{
	border:1px solid #bbb;
	outline:none;
	padding:5px;
}

/* Page structure */
#side-content{
	width:300px;
	border:1px solid;
	padding:0;
	margin-bottom:4px;
	font-weight: bold;
}
#side-content ul{
	list-style: none;
	text-align: center;
	padding:0;
	margin:0;
	width:100%;
}
#side-content ul li{
	display: inline-block;
	padding:5px 5px;
}

#header-content{
	width:300px;
	border:1px solid;
	padding:5px 0px;
	margin-bottom:4px;
	height:20px;
	text-align: center;
	font-weight: bold;
}

#main-content{
	width:290px;
	height:300px;
	overflow-y: auto;
	border:1px solid;
	padding:5px;
}

#save-category input[type=submit]{
	width:290px;
	margin-top:10px;
}
#save-category input[type=text]{
	width:278px;
	margin-top:10px;
}

#save-todo textarea{
	height:80px;
	width:278px;
	clear:both;
	display: block;
	margin-bottom: 10px;
}
#save-todo select{
	width:290px;
	margin-bottom:10px;
}

#save-todo input[type=submit]{
	clear: both;
	display: block;
	width:290px;
}

/* Lists */
.list{
	list-style: none;
	padding:0;
	margin:0;
}
.list li{

}
.list li .controls{
	float: right;
	margin-left: 10px;
}